<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web1</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ShowAllProductController</servlet-name>
    <servlet-class>sis.com.controller.ShowAllProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllProductController</servlet-name>
    <url-pattern>/showallproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>sis.com.controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductController</display-name>
    <servlet-name>DeleteProductController</servlet-name>
    <servlet-class>sis.com.controller.DeleteProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductController</servlet-name>
    <url-pattern>/deleteproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductController</display-name>
    <servlet-name>UpdateProductController</servlet-name>
    <servlet-class>sis.com.controller.UpdateProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductController</servlet-name>
    <url-pattern>/updateproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEmployeeController</display-name>
    <servlet-name>SearchEmployeeController</servlet-name>
    <servlet-class>sis.com.controller.SearchEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmployeeController</servlet-name>
    <url-pattern>/searchemp</url-pattern>
  </servlet-mapping>
</web-app>